<div class="fisFloorplansDijit">

    <div class="formContainer">

        <div data-dojo-type="dijit.form.Form" data-dojo-attach-point="layerFormDijit">

            <div data-dojo-attach-point="layerSelectDom">
                <label>Select floor:</label><br />
                <input type="select"
                       disabled
                       data-dojo-type="dijit.form.FilteringSelect"
                       data-dojo-props="name:'label', autoComplete:true,required:true,searchAttr:'label',class:'layerSelect'"
                       data-dojo-attach-point="layerSelectDijit"
                       data-dojo-attach-event="onChange:_onLayerChange" />
            </div>

            <div data-dojo-attach-point="subLayerSelect"
                    data-dojo-props="class:'subLayerSelect'">

                <div data-dojo-attach-point="doorsSelectDom">
                    <input type="checkbox"
                           data-dojo-type="dijit.form.CheckBox"
                           data-dojo-attach-point="showDoorsDijit"
                           data-dojo-props="class:'containsCheck'"
                           data-dojo-attach-event="onChange:_onSubLayerChange"/>
                    <label style="font-weight: normal"> Show Doors</label>
                </div>

                <div data-dojo-attach-point="additionsSelectDom">
                    <input type="checkbox"
                           data-dojo-type="dijit.form.CheckBox"
                           data-dojo-attach-point="showAdditionsDijit"
                           data-dojo-props="class:'containsCheck'"
                           data-dojo-attach-event="onChange:_onSubLayerChange"/>
                    <label style="font-weight: normal"> Show Addition Outlines</label>
                </div>

            </div>

            <div data-dojo-attach-point="layerControlNode"></div>

        </div>

    </div>
</div>