<div class="fisFloorplansDijit">

    <div class="formContainer">

        <ul class="list-unstyled">

            <li>
                <div data-dojo-attach-point="floorSelectNode">
                    <label>Select floor:</label><br />
                    <input type="select"
                           disabled
                           data-dojo-type="dijit.form.FilteringSelect"
                           data-dojo-props="name:'label', autoComplete:true,required:false,searchAttr:'label',class:'layerSelect'"
                           data-dojo-attach-point="floorSelectDijit"
                           data-dojo-attach-event="onChange:_onLayerChange" />
                </div>
            </li>

            <li>
                <div data-dojo-attach-point="layerControlNode"></div>
            </li>

            <li>

                <div data-dojo-type="dijit.form.Button"
                     data-dojo-props="class:'resetButton'"
                     data-dojo-attach-event="onClick:reset"
                     data-dojo-attach-point="clearButtonDijit">
                    Reset
                    <i class="fa fa-refresh fa-fw resetIcon"></i>
                </div>

            </li>

        </ul>









    </div>
</div>