<div class="gis_DrawDijit">
    <div class="formContainer">
        <div style="padding:5px;">
            <ul class="list-unstyled outerList">

                <li>
                    <ul class="list-inline list-unstyled">

                        <li>
                            <button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'pointIcon',showLabel:false"
                                    data-dojo-attach-event="onClick:drawPoint"
                                    class="drawButton"
                                    title="Point">
                                Point
                            </button>
                        </li>

                        <li>
                            <button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'circleDrawIcon',showLabel:false,drawType:'CIRCLE'"
                                    data-dojo-attach-event="onClick:drawCircle"
                                    class="drawButton"
                                    title="Circle">
                                Circle
                            </button>
                        </li>

                        <li>
                            <button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'lineIcon',showLabel:false"
                                    data-dojo-attach-event="onClick:drawLine"
                                    class="drawButton"
                                    title="Polyline">
                                Line
                            </button>
                        </li>

                        <li>
                            <button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'freehandDrawIcon',showLabel:false"
                                    data-dojo-attach-event="onClick:drawFreehandLine"
                                    class="drawButton"
                                    title="Freehand Polyline">
                                Freehand Line
                            </button>
                        </li>

                        <li>
                            <button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'polyIcon',showLabel:false"
                                    data-dojo-attach-event="onClick:drawPolygon"
                                    class="drawButton"
                                    title="Polygon">
                                Polygon
                            </button>
                        </li>

                        <li>
                            <button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'freehandPolygonDrawIcon',showLabel:false"
                                    data-dojo-attach-event="onClick:drawFreehandPolygon"
                                    class="drawButton"
                                    title="Freehand Polygon">
                                Freehand Polygon
                            </button>
                        </li>

                        <li>
                            <div data-dojo-type="dijit/form/Button"
                                 data-dojo-attach-point="stopDrawingButton"
                                 data-dojo-props="showLabel:true,disabled:true"
                                 data-dojo-attach-event="onClick:stopDrawing"
                                 class="drawButton"
                                 title="Stop Drawing">
                                <i class="fa fa-ban stopIcon"></i>
                            </div>
                        </li>

                        <li>
                            <div data-dojo-type="dijit/form/Button"
                                 data-dojo-attach-point="eraseDrawingButton"
                                 data-dojo-props="showLabel:true,disabled:true"
                                 data-dojo-attach-event="onClick:clearGraphics"
                                 class="drawButton"
                                 title="Reset Drawing">
                                <i class="fa fa-refresh stopIcon"></i>
                            </div>
                        </li>

                    </ul>
                </li>

                <li>
                   <div class="drawModeIndicatorNode">
                       <span style="font-weight: bold">Current Draw Mode: </span>
                       <span data-dojo-attach-point="drawModeTextNode">None</span>
                   </div>
                </li>

                <!--<li>
                    <div class="buttonActionBar">
                        <button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'clearIcon',showLabel:true"
                                data-dojo-attach-event="onClick:clearGraphics">
                            Clear Drawing
                        </button>
                    </div>
                </li>-->

            </ul>

        </div>
    </div>

</div>
