.fisFloorplansDijit {
    width: 100%;
}

.fisFloorplansDijit .layerSelect, .fisFloorplansDijit .searchText {
    width: 100%;
    margin-bottom: 10px;
}

.fisFloorplansDijit label {
    font-weight: bold;
    margin-left: 5px;
}

.fisFloorplansDijit .subLayerSelect label {
    font-size: smaller;
    font-weight: normal;
}