.fisFloorplansDijit {
    width: 100%;
}

.fisFloorplansDijit ul {
    width: 100%;
}

.fisFloorplansDijit ul li {
    margin-bottom: 1em;
}

.fisFloorplansDijit ul li:last-of-type {
    text-align: right;
}

.fisFloorplansDijit .layerSelect, .fisFloorplansDijit .searchText {
    width: 100%;
}

.fisFloorplansDijit label {
    font-weight: bold;
    margin-left: 5px;
}

.fisFloorplansDijit .subLayerSelect label {
    font-size: smaller;
    font-weight: normal;
}

.fisFloorplansDijit .resetIcon {
    color: #adadad;
}