.gisLayerSwapperDijit {
    width: 100%;
    padding-bottom: 20px;
}

.gisLayerSwapperDijit label {
    font-weight: bold;
    margin-left: 5px;
}

.gisLayerSwapperDijit ul {
    width: 100%;
}

.gisLayerSwapperDijit ul li {
    margin-bottom: 1em;
}

.gisLayerSwapperDijit .layerSelectDom .layerSelectInput {
    width: 100%;
}

.gisLayerSwapperDijit .layerSwipeDom .layerSwipeSelect {
    width: 100%;
}

.gisLayerSwapperDijit .layerSwipeDom .layerSwipeSelect .dijitStretch {
    width: 100%;
}
