body, html {
    font-family: Arial, Helvetica, sans-serif;
}

.appHeader {
    background: url("../images/header-bg-repeat.jpg") repeat-x scroll left top transparent;
    height: 57px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.appHeader .headerTitle {
    font-weight: normal;
}

.appHeader .subHeaderTitle {
    display: none;
}

#borderContainerOuter {
    top: 56px;
}

.list-unstyled {
    padding-left: 0px;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
}

.list-inline {
    padding-left: 0px;
    margin-left: -5px;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
}

.list-inline > li {
    padding-right: 5px;
    padding-left: 5px;
    display: inline-block;
}

.contentPane .list-unstyled li > label {
    color: darkgrey;
    margin-right: 5px;
    width: 33%;
    text-align: right;
    vertical-align: initial;
    display: inline-block;
}

.contentPane .list-unstyled hr {
    color: #d3d3d3;
    margin: 0px;
    margin-top: 1em;
    margin-bottom: 2px;
    width: 80%;
}

