.plantDbDijit {
    width: 100%;
}

.plantDbDijit .searchSelect, .plantDbDijit .searchText {
    width: 100%;
    margin-bottom: 10px;
}

.plantDbDijit label {
    font-weight: bold;
    margin-left: 5px;
}

.dijitStretch {
    width: 100%;
}

.plantDbDijit .resultsGrid {
    font-size: small;
    width: 100%;
}

.plantDbDijit .dgrid {
    width: 100%;
    display: none;
}

.plantDbDijit .dgrid .dgrid-scroller {
    margin-top: 35px !important;
}

.plantDbDijit .dgrid .dgrid-header th {
    font-weight: bolder;
}

.plantDbDijit .dgrid .dgrid-cell {
    font-size: 11px;
    padding: 8px !important;
    cursor: pointer;
}

.plantDbDijit .dgrid .field-NAME {
    width: 70%;
}

.plantDbDijit .dgrid .field-ACC_NUM_AN {
    text-align: right;
}
