.plantDbDijit {
    width: 100%;
}

.plantDbDijit .searchSelect, .plantDbDijit .searchText {
    width: 100%;
    margin-bottom: 10px;
}

.plantDbDijit label {
    font-weight: bold;
    margin-left: 5px;
}

.dijitStretch {
    width: 100%;
}

